{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <div class="left">
            <div class="home">
                <button class="options" style="border: 0;" onclick="window.location.href='/home/';">Home</button>
                <button class="options" style="border: 0;background-color:#c8c8c8;" onclick="window.location.href='/profile/';">Profile</button>
                <button class="options" style="border: 0;" onclick="window.location.href='/addresource/';">Add Resource</button>
                <button class="options" style="border: 0;" onclick="window.location.href='/approve_resourse/';">Approve Resource</button>
            </div>
        </div>
        
        <div class="right">
            <div class="header">
                <div class="nav">Dashboard</div>
                <div class="buttons">
                    <button class="loginbtn">Log in</button>
                </div>
            </div>
            <div class="box">
                <div class="course1">
                    <div class="profile-header">Profile</div>
                    <div class="profile-details">
                        <p><strong>Name:</strong> Vasireddy Venu</p>
                        <p><strong>Email:</strong> Vasireddy.Venu.cse@itbhu.ac.in</p>
                        <p><strong>Role:</strong> Student</p>
                    </div>
                    <div class="profile-courses">
                        <p><strong>Courses:</strong></p>
                        <ul>
                            <li>MA102</li>
                            <li>ME102</li>
                            <li>CSO102</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
